<%- include('cabecalho'); %>
  <div class="row justify-content-center ">
    <div class="col-md-10 ">
      <h2 class="mt-4 titulo2">Cadastro de perguntas e respostas</h2>
    </div>

    <div class="col-md-8 mt-5">
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home"
            type="button" role="tab" aria-controls="nav-home" aria-selected="true">Em texto</button>
          <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button"
            role="tab" aria-controls="nav-profile" aria-selected="false">Em mídias</button>
        </div>
      </nav>

      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab"
          tabindex="0">
          <form method="POST" action="/conversas">
            <div class="mb-3 mt-3">
              <label for="exampleInputEmail1" class="form-label">Informe a resposta</label>
              <input type="text" name="resposta" class="form-control" id="resposta" aria-describedby="emailHelp">
            </div>

            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Informe a pergunta</label>
              <input type="text" name="perguntas" class="form-control" id="perguntas">
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>

        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
          <form method="POST" enctype="multipart/form-data" action="/upload">
            <div id="arquivoLocal" class="mb-3 mt-3">
              <label for="exampleFormControlFile1" class="form-label d-block">Selecone a mídia</label>
              <input type="file" name="file" class="form-control-file input" id="exampleFormControlFile1">
            </div>
            <div id="url" class="text-end">
              <label class="form-label d-block">Caso você quiser inserir a url de um arquivo, <a
                  onclick="arquivoUrl('true')" href="#">clique aqui </a></label>
            </div>
            <div id="voltar" class="text-end mt-5">
              <label class="form-label d-block"> <a onclick="arquivoUrl('false')" href="#">Voltar </a></label>
            </div>

            <div id="arquivoUrl" class="mb-3 mt-3">
              <label for="exampleInputPassword1" class="form-label">Url</label>
              <input type="text" name="url" class="form-control" id="exampleInputPassword1">
            </div>

            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Informe a pergunta</label>
              <input type="text" name="perguntas" class="form-control" id="exampleInputPassword1">
            </div>

            <button type="submit" class="btn btn-primary">Gravar</button>
          </form>
        </div>
      </div>
    </div>
    <%- include('rodape'); %>