<%- include('cabecalho'); %>
  <div class="row pagina">
    <%- include('menuLateral'); %>

      <div class="col-md-9">
        <div class="container">

          <div class="row">
            <h2 class="mt-4 titulo2">Cadastro de perguntas e respostas em texto</h2>
          </div>

          <div class="row mb-3 d-flex justify-content-center">
            <div class="col-md-8 mt-5">
              <form method="POST" action="/cadastrar-texto">
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Informe a pergunta</label>
                  <input type="text" name="perguntas" class="form-control" id="perguntas">
                </div>
                <div class="mb-3 mt-3">
                  <label for="exampleInputEmail1" class="form-label">Informe a resposta</label>
                  <input type="text" name="resposta" class="form-control" id="resposta" aria-describedby="emailHelp">
                </div>

                <button type="submit" class="btn btn-primary">Gravar</button>
              </form>
            </div>

          </div>
        </div>
      </div>
  </div>

  <% if(alertaCadastro == 'ok'){%>
    <div class=" alert alert-success alert-dismissible fade show alertaTreinamento" id="alertaOk"
      role="alert">
      Operação realizada com sucesso!
      <button type="button" class="btn-close" data-bs-dismiss="alert"
        aria-label="Close"></button>
    </div>
  <% }else if(alertaCadastro == 'erro'){%>
    <div class=" alert alert-danger alert-dismissible fade show alertaTreinamento" id="alertaErro"
      role="alert">
      Ocorreu um erro, tente novamente mais tarde!
      <button type="button" class="btn-close" data-bs-dismiss="alert"
        aria-label="Close"></button>
    </div>

  <% }%>
  <%- include('rodape'); %>