<%- include('cabecalho'); %>
  <div class="row pagina">
    <div class="col-md-3 menu g-0">
      <ul class="list-group">

        <li class="list-group-item menu pt-3 pb-3">
          <a class="tLateral d-flex align-items-center" href="/painel">
            <i class="material-icons pe-2">home</i>HOME
          </a>
        </li>

        <li class="tLateral list-group-item menu pt-3 pb-3 d-flex align-items-center">
          <i class="material-icons pe-2">computer</i>CADASTROS
        </li>

        <li class="list-group-item menu ativo pt-3 pb-3 ps-5">
          <a class="tLateral d-flex align-items-center activoTexto" href="/cadastrar-texto">
            <i class="material-icons pe-2">subject</i>Mensagens de Texto
          </a>
        </li>

        <li class="list-group-item menu pt-3 pb-3 ps-5">
          <a class="tLateral d-flex align-items-center" href="/cadastrar-media">
            <i class="material-icons pe-2">perm_media</i> Mensagens de medias
          </a>
        </li>
    
        <li class="list-group-item menu pt-3 pb-3">
          <a class="tLateral d-flex align-items-center" href="/conversas-cadastradas">
            <i class="material-icons pe-2">info</i>INFORMAÇÕES CADASTRADAS
          </a>
        </li>
        <li class="list-group-item menu pt-3 pb-3">
          <a class="tLateral d-flex align-items-center" href="/treinar-robo">
            <i class="material-icons pe-2">smart_toy</i>TREINAR ROBÔ
          </a>
        </li>
      </ul>
    </div>

    <div class="col-md-9">
      <div class="container">
        <div class="row">
          <h2 class="mt-4 titulo2">Cadastro de perguntas e respostas em texto</h2>
        </div>
        <div class="row mb-3 d-flex justify-content-center">
          <div class="col-md-8 mt-5">
            <form method="POST" action="/cadastrar-texto" id="cadTexto">
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Informe a pergunta</label>
                <input type="text" name="perguntas" class="form-control" id="perguntas" required>
              </div>

              <div class="mb-3 mt-3">
                <label for="exampleInputEmail1" class="form-label">Informe a resposta</label>
                <input type="text" name="resposta" class="form-control" id="resposta"  required>
              </div>

              <button type="submit" class="btn btn-primary">Gravar</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

<%- include('mensagem'); %> 
<%- include('rodape'); %>