<div class="row" id="chat">
  <div class="col d-flex justify-content-end fixed-bottom ">
    <button class="btnRobo m-3" id="btnRobo" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling"
      aria-controls="offcanvasScrolling">Chamar Robô</button>
    <form action="">
      <div class="offcanvas offcanvas-bottom bot m-3" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
        id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
        <div class="offcanvas-header">
          <img src="./img/cabecaRobo2.png" alt="">
          <h1 class="offcanvas-title tituloBot" id="offcanvasScrollingLabel">ChatBot</h1>
          <button type="button" class="btnBot" data-bs-dismiss="offcanvas" aria-label="Close"><i
              class="material-icons icone">expand_more</i></button>
        </div>
        <div class="botCaixa offcanvas-body chatBot ">


        </div>
        <div class="row caixa offcanvas-header">
          <div class="input-group mb-3">
            <input type="text" class="form-control send" placeholder="Faça sua pergunta" aria-label="Username"
              aria-describedby="basic-addon1">
            <button class="btnEnviar" type="submit"><i class="material-icons icone">send</i></button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/soketCliente.js"></script>