<div class="col-md-3 menu g-0">
  <ul class="list-group">
    <li class="list-group-item active pt-3 pb-3" onclick="active(1)"><a class="d-flex align-items-center activeText"
        href="/"><i class="material-icons pe-2">home</i>HOME</a></li>
    <li class="tLateral list-group-item menu pt-3 pb-3 d-flex align-items-center"><i
        class="material-icons pe-2">computer</i>CADASTROS</li>
    <li class="list-group-item menu pt-3 pb-3 ms-5" id="2" onclick="active(2)">
      <a class="tLateral d-flex align-items-center" href="/cad-texto">
        <i class="material-icons pe-2">subject</i>Mensagens de Texto</a>
    </li>
    <li class="list-group-item menu pt-3 pb-3 ms-5" onclick="active(3)">
      <a class="tLateral d-flex align-items-center" href="/cad-midia">
        <i class="material-icons pe-2">perm_media</i> Mensagens de Midias</a>
    </li>

    <li class="list-group-item menu pt-3 pb-3" onclick="active(4)">
      <a class="tLateral d-flex align-items-center" href="/conversas-cadastradas">
        <i class="material-icons pe-2">info</i>INFORMAÇÕES CADASTRADAS</a>
    </li>
    <li class="list-group-item menu pt-3 pb-3" onclick="active(5)">
      <a class="tLateral d-flex align-items-center" href="/treinar-robo"><i
          class="material-icons pe-2">smart_toy</i>TREINAR ROBÔ</a>
    </li>
  </ul>
</div>