</body>

<script src="/bootstrap-5.1.3/bootstrap.min.js" alt=""></script>
<script src="/js/script.js"></script>
<script src="/js/atualizarRemover.js"></script>
<script src="./js/soketCliente.js"></script>
</html>