<%- include('cabecalho'); %>
  <div class="row pagina">
    <div class="col-md-3 menu g-0">
      <ul class="list-group">
        <li class="list-group-item menu pt-3 pb-3">
          <a class="tLateral d-flex align-items-center" href="/painel">
            <i class="material-icons pe-2">home</i>HOME
          </a>
        </li>

        <li class="tLateral list-group-item menu pt-3 pb-3 d-flex align-items-center">
          <i class="material-icons pe-2">computer</i>CADASTROS
        </li>

        <li class="list-group-item menu pt-3 pb-3 ps-5">
          <a class="tLateral d-flex align-items-center" href="/cadastrar-texto">
            <i class="material-icons pe-2">subject</i>Mensagens de Texto
          </a>
        </li>

        <li class="list-group-item menu pt-3 pb-3 ps-5">
          <a class="tLateral d-flex align-items-center" href="/cadastrar-media">
            <i class="material-icons pe-2">perm_media</i> Mensagens de medias
          </a>
        </li>
    
        <li class="list-group-item menu pt-3 pb-3">
          <a class="tLateral d-flex align-items-center" href="/conversas-cadastradas">
            <i class="material-icons pe-2">info</i>INFORMAES CADASTRADAS
          </a>
        </li>

        <li class="list-group-item ativo menu pt-3 pb-3">
          <a class="tLateral d-flex align-items-center activoTexto" href="/treinar-robo">
            <i class="material-icons pe-2">smart_toy</i>TREINAR ROB
          </a>
        </li>
      </ul>
    </div>
    <div class="col-md-9">
      <div class="container">
        <div class="row align-items-center mt-5">
          <div class="col-sm-6">
            <div class="row">
              <h2 class="titulo2 text-center">Vamos treinar o rob么?</h2>
            </div>
            <div class="row">
              <p class="texto text-center">
                Para treinar o seu rob么 茅 muito simples,
                basta voc锚 clicar no bot茫o "Treinar Rob么". Ah!, n茫o se esque莽a
                de cadastrar as perguntas e respostas antes. 
                Caso quiser deletar a base de conhecimento do 
                rob么 茅 s贸 clicar na lixeira
              </p>
            </div>
            <div class="row justify-content-center">
                <!-- Button trigger modal -->
              <button type="button" class="btnRobo w-75" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Treinar Rob么
              </button>
            </div>
          </div>
          <div class="col-md-6 ">
            <img class="w-75" src="./img/treinar.jpg" alt="">
          </div>
        </div>

        <div class="row justify-content-end mt-5">   
          <div class="mx-5 col-2">
            <!-- Button trigger modal -->
            <button type="button" class="w-75 btnDelete" data-bs-toggle="modal" data-bs-target="#deletetreinamento">
              <img class="btnExcluirTreinamento" src="./img/lixeira.png" alt="">
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="d-md-flex justify-content-center ">
    <div class="col-md-4">
    <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" 
      aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Deseja treinar o Rob么?</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="carregar">
              <div class="d-flex align-items-center">
                <strong>Treinando...</strong>
                <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              <form action="/treinar-robo" method="POST">
                <button type="submit" onclick="displayCarregar()"  class="btn btn-primary">Sim</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <!-- Modal -->
      <div class="modal fade" id="deletetreinamento" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Excluir Base de Conhecimento</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Deseja excluir a base de conhecimento do rob么?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              <form action="/excluir-treinamento" method="POST">
                <button type="submit" class="btn btn-primary">Excluir</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<%- include('mensagem'); %>
<%- include('rodape'); %>