<%- include('cabecalho'); %>
  <div class="row pagina">
    <%- include('menuLateral'); %>
      <div class="col-md-9">
        <div class="container">
          <div class="row align-items-center mt-5">
            <div class="col-sm-6">
              <div class="row">
                <h2 class="titulo2 text-center">Vamos treinar o rob么?</h2>
              </div>
              <div class="row">
                <p class="texto text-center">
                  Para treinar o seu rob么 茅 muito simples,
                  basta voc锚 clicar no bot茫o "Treinar Rob么". Ah!, n茫o se esqueca
                  de cadastrar as perguntas e respostas antes. Mas Caso quiser
                  deletar a base de conhecimento do rob么 茅 s贸 clicar na lixeira
                </p>
              </div>
              <div class="row justify-content-center">
                <!-- Button trigger modal -->
                <button type="button" class="btnRobo w-75" data-bs-toggle="modal" data-bs-target="#exampleModal">
                  Treinar Rob么
                </button>
              </div>
            </div>
            <div class="col-md-6 ">
              <img class="w-75" src="./img/treinar.jpg" alt="">
            </div>
          </div>

          <div class="row justify-content-end mt-5">
            
            <div class="mx-5 col-sm-2">
              <!-- Button trigger modal -->
              <button type="button" class="w-75 btnDelete" data-bs-toggle="modal" data-bs-target="#deletetreinamento">
                <img class="w-100" src="./img/lixeira.png" alt="">
              </button>
            </div>
          </div>
        </div>
      </div>
  </div>

  <div class="d-md-flex justify-content-center ">
    
    <div class="col-md-4">
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Deseja treinar o Rob么?</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="carregar">
              <div class="d-flex align-items-center">
                <strong>Treinando...</strong>
                <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              <form action="/treinar-robo" method="POST">
                <button type="submit" onclick="displayCarregar()"  class="btn btn-primary">Sim</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <!-- Modal -->
      <div class="modal fade" id="deletetreinamento" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Excluir Base de Conhecimento</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Deseja excluir a base de conhecimento do rob么?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              <form action="/excluir-treinamento" method="POST">
                <button type="submit" class="btn btn-primary">Excluir</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <% if(alertaTreinamento== 'ok'){%>
    <div class=" alert alert-success alert-dismissible fade show alertaTreinamento" id="alertaOk"
      role="alert">
      Opera莽茫o realizada com sucesso!
      <button type="button" class="btn-close" data-bs-dismiss="alert"
        aria-label="Close"></button>
    </div>
  <% }else if(alertaTreinamento == 'erro'){%>
    <div class=" alert alert-danger alert-dismissible fade show alertaTreinamento" id="alertaErro"
      role="alert">
      Ocorreu um erro, tente novamente mais tarde!
      <button type="button" class="btn-close" data-bs-dismiss="alert"
        aria-label="Close"></button>
    </div>

  <% }%>
  <%- include('rodape'); %>