html{
	overflow-x: hidden;
	overflow-y: auto;
}
button{
	background-color: #006575;
	color: #fff;
}
button:hover{
	background-color: #FF500F;
	color: #fff;
}
.menu {
	background-color: #40aba0 !important;
	border: 0 !important;	
}

.btn {
	font-size: 20px;	
}

.borda-tabela {
	border:solid 1px #DFDFDF;
	padding:25px !important;
}

.active {
	background-color: #fff !important;
	border: #fff !important;
    border-right:solid 10px #006575 !important;
}

.activeText {
	color: #006575 !important;
    font-family: 'AnekLatin', sans-serif;
    font-size: 20px;
}

li a:hover {
	text-decoration: none;
}

.info-cadastradas {

    font-size: 16px;
    color: #575757 !important;
    font-family: 'AnekLatin', sans-serif;

}
.tabela2{
	height: 400px;
	overflow-y: auto;
	overflow-x: hidden;
}
.pagina{
	position: fixed;
    height: 100%;
	width: 102%;
}
